* {
    box-sizing: border-box;
}

body { 
    margin: 0px;
    font-family: 'Cairo', sans-serif;
    /* font-family: 'Teko', sans-serif; */
}

/* ------Header------ */

header {
    width: 1024px;
    margin: 0 auto;
    position: relative;
}

h1 {
    font-family: 'Vollkorn SC', serif;
    font-size: 1.9em;
    font-weight: bold;
    color: #fff;
    padding:40px;
    background-color: tan;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}

a { 
    text-decoration: none;
    color: #ffa500;
}


nav li {
    display: inline;
    padding:20px;
}

ul {
    display: inline;
    position: absolute;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 on: absolute;
    right: 0px;
    top: 40px;
    padding: 0;
}


/* ------Main------ */

#container {
    width: 100%;
    height: 600px;
    border-top: 2px solid #ffa500;
    background-color: #c6c6c6;
    position: relative;
    top: 100px;
}

h2 {
    font-family: 'Vollkorn SC', serif;
    font-size: 1.7em;
    font-weight: bold;
    color: tan;
    padding-bottom: 30px;
    border-bottom: 2px solid #ffa500;
}

#main {
    width: 1024px;
    margin: 0 auto;
    border: 1px solid #ffa500;
    padding: 30px;
    background-color: #fff;
    position: relative;
    top: 30px;
}

#bio img {
    float: left;
    margin-top: 30px;
    padding: 0 20px 0 0;
}

p {
    margin-top: 30px;
    line-height: 1.5;
    font-size: 1em;
}



/* ------Footer------ */

footer {
    clear: left;
    background-color: #ffa500;
    border-top: 9px solid tan;
    color: #fff;
    text-align: center;
    padding: 18px 0 2px 0;
    font-size: .75em;
    margin-top: 100px;
    position: relative;
}