* {
    box-sizing: border-box;
}

body { 
    margin: 0px;
    font-family: 'Cairo', sans-serif;
    /* font-family: 'Teko', sans-serif; */
}


/* ------About Page------ */

#page-content {
    flex: 1 0 auto;
  }
/* ------Header------ */

header {
    width: 1024px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
}

/* #head-t {
    position: fixed;
    z-index: 1;
} */

/* h1 {
    font-family: 'Vollkorn SC', serif;
    font-size: 1.9em;
    font-weight: bold;
    color: #fff;
    padding:40px;
    background-color: tan;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}

a { 
    text-decoration: none;
    color: #ffa500;
}


nav li {
    display: inline;
    padding:20px;
}

ul {
    display: inline;
    position: absolute;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 on: absolute;
    right: 0px;
    top: 45px;
} */

/* ------Heading------ */

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.port_img {
    
    margin-right: 10px;
}

/* ------Main------ */


.aboutMe {
    /* width: 100%;
    height: 600px;
    border-top: 2px solid #ffa500;
    background-color: #c6c6c6;
    position: relative;
    top: 100px; */
    margin-top: 50px;
}

* .aboutMePara {
    margin-top: 50px;
} 
/* 


#main {
    width: 1024px;
    margin: 0 auto;
    border: 1px solid #ffa500;
    padding: 30px;
    background-color: #fff;
    position: relative;
    top: 30px;
}

#bio img {
    float: left;
    margin-top: 30px;
    padding-right: 20px;
}
*/


h1 {
    font-family: 'Vollkorn SC', serif;
    font-size: 1.7em;
    font-weight: bold;
    color: tan;
    padding-bottom: 20px;
    width:500px;
    /* border-bottom: 2px solid #ffa500; */
}



.portfolio_img img{
    /* margin-top: 40px; */
    border: 2px solid #d2b48c;
}

p {
    /* margin-top: 30px; */
    line-height: 1.5;
    font-size: 1em;
}
 


/* ------Footer------ */


footer {
    clear: left;
    background-color: #ffa500;
    border-top: 9px solid tan;
    color: #fff;
    text-align: center;
    padding: 18px 0 2px 0;
    font-size: .75em;
    /* margin-top: 40%; */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
} 

/* .footer {
    position: relative;
    bottom: 0;
    height: 60px;
    width: 100%;
    padding-top:20px;
    background-color: #214761;
    color: #FFFFFF;
  } */



/* ------Portfolio Page------ */

/* .footer {
    background-color: #f5f5f5;
} */


/* #sticky-footer {
    flex-shrink: none;
  } */

/* .mt-auto, .my-auto {
    margin-top: auto!important;
} */ */

 /* .pb-3, .py-3 {
    padding-bottom: 1rem!important;
} */

/* .pt-3, .py-3 {
    padding-top: 1rem!important;
} */



/* ------Contact Page------ */

/* ---------------------------------------------- */
/* Form  */
/* ---------------------------------------------- */


.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 200%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 20px 5px 10px 0;
}

select {
    height: 30px;
}

*:focus {outline: none;}
